<div class="sidebar h-screen w-36 flex flex-col justify-start items-center py-10">
    <div class="-ml-2">
        <img src="../../../assets/logoSidebar.png" width="80px">
    </div>

    <div class="mt-2 -ml-2">
        <img src="../../../assets/logoLetters.png" width="80px">
    </div>

    <div class="nav-container flex flex-col h-full gap-y-3.5 justify-center text-2xl">
        <a routerLink="/dashboard/home" routerLinkActive="nav-active" class="nav-home"><ion-icon name="home"></ion-icon></a>
        <a> <ion-icon name="football"></ion-icon> </a>
        <a> <ion-icon name="person-circle-outline"></ion-icon> </a>
        <a> <ion-icon name="alarm-outline"></ion-icon> </a>
        <a> <ion-icon name="color-filter-outline"></ion-icon> </a>
    </div>

    <div class="avatar online">
        <div class="mb-8 rounded-full w-14 h-14">
             <img src="http://daisyui.com/tailwind-css-component-profile-1@94w.png">
        </div>
    </div>
</div>