<soccer-spinner></soccer-spinner>

<div class="h-screen w-full flex overflow-hidden bg-gray-100 select-none">
  <main class="my-10 ml-10 pt-2 pb-2 px-10 flex-1 bg-white rounded-l-lg
		transition duration-500 ease-in-out overflow-y-auto">
    <div class="flex flex-col capitalize text-3xl">
      <span class="font-semibold">hello,</span>
      <span>tempest!</span>

    </div>
    <div class="flex">
      <div class="mr-6 w-1/2 mt-8 py-2 flex-shrink-0 flex flex-col bg-white rounded-xl">
        <!-- Card list container -->

        <h3 class="flex items-center pt-1 pb-1 px-8 text-lg font-semibold
					capitalize dark:text-gray-300">
          <!-- Header -->
          <span>Tus Ligas</span>
        </h3>

        <div>
          <!-- List -->

          <ul class="pt-1 pb-2 px-3 overflow-y-auto">

            <li class="mt-2">
              <a *ngFor="let leag of leagues" class="p-5 flex flex-col justify-between bg-gray-100 dark:bg-gray-200 rounded-lg">

                <div class="flex items-center font-semibold capitalize dark:text-gray-700">
                  <!-- Top section -->

                  <div (click)="selectLeague(leag)"
                    class="bg-white rounded-full w-[17px] h-[17px] flex flex-shrink-0 justify-center relative mr-2">
                    <input type="radio" name="radio"
                      class="checkbox opacity-100 appearance-none border-2 rounded-full border-gray-400 absolute cursor-pointer w-full h-full checked:border-none" />
                    <div class="check-icon hidden border-4 border-blue-500 rounded-full w-full h-full z-1"></div>
                  </div>


                  <span class="text-gray-800">{{leag.name}}</span>

                  <div class="flex items-center ml-6">
                    <ion-icon class="text-xl text-gray-700" name="football"></ion-icon>
                    <span class="font-normal text-sm text-gray-800">{{leag.coach}}</span>
                  </div>

                </div>

                <p class="text-sm font-medium leading-snug text-gray-700 my-3">
                  <!-- Middle section -->
                  Lorem ipsum, dolor sit amet consectetur
                  adipisicing elit.
                </p>

                <div class="flex justify-between">
                  <!-- Bottom section -->

                  <div class="flex">
                    <span class="text-xs tracking-wide">
                      <span class="text-blue-500 text-sm font-normal">Id Creador</span>
                      {{leag.idCreator}}
                    </span>
                  </div>

                </div>

              </a>
            </li>
          </ul>

        </div>

      </div>

      <div class="mr-6 w-1/2 mt-8 py-2 flex-shrink-0 flex flex-col
				bg-purple-300 rounded-lg text-white">

        <h3 class="flex items-center pt-1 pb-1 px-8 text-lg font-bold
					capitalize">
          <!-- Header -->
          <span>scheduled lessons</span>
          <button class="ml-2">
            <svg class="h-5 w-5 fill-current" viewBox="0 0 256 512">
              <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9
								0l-22.6-22.6c-9.4-9.4-9.4-24.6
								0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6
								0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136
								136c9.5 9.4 9.5 24.6.1 34z"></path>
            </svg>
          </button>
        </h3>

        <div class="flex flex-col items-center mt-12">
          <img src="https://cdni.iconscout.com/illustration/premium/thumb/empty-state-2130362-1800926.png"
            alt=" empty schedule" />

          <span class="font-bold mt-8">Your schedule is empty</span>

          <span class="text-purple-500">
            Make your first appointment
          </span>

          <button class="mt-8 bg-purple-800 rounded-lg py-2 px-4">
            Find a Job
          </button>

        </div>
      </div>

    </div>

  </main>

  <aside class="w-1/4 mr-10 my-10 px-6 py-4 flex flex-col bg-white rounded-r-xl overflow-y-auto">
    <!-- Right side NavBar -->

    <span class="text-3xl text-gray-800 font-semibold mt-6 mb-1.5">Ligas</span>

    <button (click)="showCreateModal = true" class="mt-8 justify-center flex items-center py-4 px-3 text-white rounded-lg bg-green-400 shadow">

      <svg class="h-6 w-6 fill-current mr-0.5" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
      </svg>

      <span>Crear Liga</span>

    </button>
    <button class="mt-4 justify-center flex items-center py-4 px-3 text-white rounded-lg bg-blue-400 shadow">
      <!-- Action -->

      <svg class="h-5 w-5 fill-current mr-1.5" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
      </svg>

      <span>Editar Liga</span>

    </button>
    <button class="mt-4 justify-center flex items-center py-4 px-3 text-white rounded-lg bg-red-400 shadow">
      <!-- Action -->

      <ion-icon name="trash-outline" class="h-5 w-5 fill-current mr-2"></ion-icon>
      <span>Eliminar Liga</span>

    </button>

    <div *ngIf="leagueSelected" class="mt-12 flex items-center">
      <span>Liga Seleccionada</span>
    </div>
    <a *ngIf="leagueSelected" [@fadeInUpOnEnter] [@fadeOutDownOnLeave] class="user-detail-container mt-2 p-4 flex justify-between bg-indigo-500 rounded-lg
			font-semibold capitalize">
      <!-- link -->

      <div class="flex">

        <img src="https://s03.s3c.es/imag/_v0/770x420/e/0/6/600x400_balon-de-futbol.jpg" class="h-10 w-10 rounded-full object-cover"/>

        <div class="flex flex-col ml-4">

          <span class="text-white font-normal">{{leagueSelected.name}}</span>
          <span class="text-sm font-normal text-gray-900">{{leagueSelected.coach}}</span>

        </div>

      </div>
    </a>


  </aside>

</div>

<div data-theme="light" class="modal-container">
  <input type="checkbox" id="search-modal" [checked]="showCreateModal" class="modal-toggle">
  <div class="modal bg-opacity-50 bg-blacks">
    <div class="modal-box p-0 pt-6 text-left">

      <form class="space-y-4 text-gray-700 p-8" [formGroup]="createForm">
        <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0">
          <div class="w-full px-2 md:w-1/2">
            <label class="block mb-1">Correo</label>
            <input formControlName="email"
              class="w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:border focus:border-indigo-500"
              type="text">
          </div>
          <div class="w-full px-2 md:w-1/2">
            <label class="block mb-1">Usuario</label>
            <input formControlName="username"
              class="w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:border focus:border-indigo-500"
              type="text" />
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full">
            <label class="block mb-1" for="formGridCode_card">Contraseña</label>
            <input formControlName="password"
              class="w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:border focus:border-indigo-500"
              type="text" id="formGridCode_card" />
          </div>
        </div>
        <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0">
          <div class="w-full px-2 md:w-1/2">
            <label class="block mb-1">Nombre</label>
            <input formControlName="name"
              class="w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:border focus:border-indigo-500"
              type="text" />
          </div>
          <div class="w-full px-2 md:w-1/2">
            <label class="block mb-1">Apellido</label>
            <input formControlName="lastname"
              class="w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:border focus:border-indigo-500"
              type="text" />
          </div>
        </div>
      </form>

      <div class="modal-action  rounded-b-2xl px-5 mt-2 pb-5">
        <button class="btn-modal-close !font-medium mr-1.5">Crear Liga</button>
        <label (click)="showCreateModal = false" for="search-modal" class="btn-modal-close !font-medium">Cerrar</label>
      </div>
    </div>
  </div>
</div>
