<div class="absolute z-50 flex w-full items-center py-5 bg-pattern bg-gray-800 md:bg-transparent justify-between">
    <img src="../../../assets/logo.png" width="160px" class="rounded-full -mt-1 ml-8 logo-icon shadow-2xl">

    <span class="register-span mr-8">
      Ya tienes cuenta? &nbsp;<button class="wobble" routerLink="/login">Iniciar Sesión</button>
    </span>
  </div>

  <div class="main-container fade-in-left">

    <div class="login-container">
      <div class="login-wrapper">

        <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
          <div>
            <span class="form-title pb-8 text-center xl:text-left">Crear Cuenta</span>

            <div class="input-wrap">
              <input inputClass formControlName="firstname" class="input-field" type="text" name="name" [(ngModel)]="user.name">
              <span class="focus-input"></span>
              <span class="label-input">Nombre</span>
            </div>

            <div class="input-wrap">
              <input inputClass formControlName="lastname" class="input-field" type="text" name="lastname" [(ngModel)]="user.lastname">
              <span class="focus-input"></span>
              <span class="label-input">Apellido</span>
            </div>
            <div class="input-wrap">
              <input inputClass formControlName="username" class="input-field" type="text" name="username" [(ngModel)]="user.username">
              <span class="focus-input"></span>
              <span class="label-input">Usuario</span>
            </div>

            <div class="input-wrap">
              <input inputClass formControlName="email" class="input-field" type="text" name="email" [(ngModel)]="user.email">
              <span class="focus-input"></span>
              <span class="label-input">Correo</span>
            </div>

            <div class="input-wrap">
              <input inputClass formControlName="password" class="input-field" type="password" name="password" [(ngModel)]="user.password">
              <span class="focus-input"></span>
              <span class="label-input">Contraseña</span>
            </div>

            <div class="btn-login">
              <button type="submit" class="form-btn" (click)="register()">Crear Cuenta</button>
            </div>

            <div class="text-center pt-7 pb-7 flex items-center">
              <hr class="w-full">
              <span class="login-span px-2">Crear Cuenta con</span>
              <hr class="w-full">

            </div>

            <div class="flex gap-y-5 flex-col justify-center text-sm">
              <button class="btn-login-alternative"><img src="../../../assets/iconGoogle.svg"> Continuar con Google</button>
              <button class="btn-login-alternative"><img class="fix" src="../../../assets/iconFacebook.svg">Continuar con Facebook</button>
            </div>
          </div>
        </form>

        <div class="background-img">
        </div>
      </div>
    </div>

  </div>

