<div class="absolute z-50 flex w-full items-center py-5 bg-pattern bg-gray-800 md:bg-transparent justify-between">
    <img src="../../../assets/logo.png" width="160px" class="rounded-full -mt-1 ml-8 logo-icon shadow-2xl">
  
    <span class="register-span mr-8">
      Ya tenías una cuenta? &nbsp;<button class="wobble" routerLink="/login">Iniciar Sesión</button>
    </span>
  </div>
  
  <div class="main-container">
  
    <div class="login-container">
      <div class="login-wrapper">
  
        <form class="form">
          <span class="form-title pb-8 text-center xl:text-left">Registrarse</span>

          <div class="input-wrap">
            <input inputClass formControlName="email" class="input-field" type="nombre">
            <span class="focus-input"></span>
            <span class="label-input">Nombre</span>
          </div>

          <div class="input-wrap">
            <input inputClass formControlName="nombre" class="input-field" type="text">
            <span class="focus-input"></span>
            <span class="label-input">Apellido</span>
          </div>
  
          <div class="input-wrap">
            <input inputClass formControlName="nombre" class="input-field" type="text">
            <span class="focus-input"></span>
            <span class="label-input">Correo</span>
          </div>
  
          <div class="input-wrap">
            <input inputClass formControlName="pass" class="input-field" type="password" #pass>
            <span class="focus-input"></span>
            <span class="label-input">Contraseña</span>
          </div>
          
          <div class="btn-login">
            <button type="submit" class="form-btn">Registrarse</button>
          </div>
  
          <div class="text-center pt-7 pb-7 flex items-center">
            <hr class="w-full">
            <span class="login-span px-2">Crear Cuenta con</span>
            <hr class="w-full">
  
          </div>
  
          <div class="flex gap-y-5 flex-col justify-center text-sm">
            <button class="btn-login-alternative"><img src="../../../assets/iconGoogle.svg"> Ingresar con Google</button>
            <button class="btn-login-alternative"><img class="fix" src="../../../assets/iconFacebook.svg"> Ingresar con Facebook</button>
          </div>
        </form>
  
        <div class="background-img">
        </div>
      </div>
    </div>
  
  </div>
  
  