@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

a:focus {
    outline: none!important;
}

input {
	outline: none!important;
	border: none!important;
}

button {
	outline: none!important;
}
  
.pulse {
	animation: pulse 1s ease-in-out infinite both;
}

@keyframes pulse {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(0.94);
	}
	100% {
	  transform: scale(1);
	}
}