<soccer-spinner></soccer-spinner>

<div class="main-container bg-red-500 gap-x-5 h-screen justify-center flex p-8">
  <div class="flex left-container flex-col gap-y-5 w-3/4 max-w-4xl">

    <div class="profile-container bg-white h-[600px]">

      <div class="pattern-container"></div>
      <div class="overlay-container">
        <img class="profile-img" src="http://daisyui.com/tailwind-css-component-profile-1@94w.png">
        <div class="overlay">
          <ion-icon name="pencil"></ion-icon>
        </div>
      </div>

      <section class="p-6 pl-32 ">
        <button>
          <ion-icon name="layers"></ion-icon> Detalles
        </button>
        <h1>Mia Hernández</h1>
        <h3>Zona 18, Guatemala</h3>
        <span>Creador De Torneo</span>
        <span>Cliente</span>
        <span>Jugador</span>
      </section>

    </div>

    <div class="bg-white h-full text-sm rounded-xl relative">
      <app-alert></app-alert>
    </div>

  </div>

  <div class="flex right-container flex-col gap-y-4 w-1/4 max-w-[210px]">
    <div class="card-container" (mouseleave)="showEdit(editAddress ,closeAddress, false)">
      <ion-icon #editAddress (click)="showEdit(editAddress, closeAddress, true)" class="btn-edit" name="pencil">
      </ion-icon>
      <ion-icon #closeAddress (click)="showEdit(editAddress ,closeAddress, false)" class="btn-close" name="close">
      </ion-icon>
      <ion-icon class="btn-save" name="checkmark-circle"></ion-icon>
      <h1>Dirección</h1>
      <ion-icon name="navigate-circle-outline"></ion-icon>
      <input disabled type="text" value="Zona 18, Guatemala">
    </div>

    <div class="card-container" (mouseleave)="showEdit(editRole ,closeRole, false)">
      <ion-icon #editRole (click)="showEdit(editRole, closeRole, true)" class="btn-edit" name="pencil"></ion-icon>
      <ion-icon #closeRole (click)="showEdit(editRole ,closeRole, false)" class="btn-close" name="close"></ion-icon>
      <ion-icon class="btn-save" name="checkmark-circle"></ion-icon>
      <h1>Rol</h1>
      <ion-icon name="person-circle-outline"></ion-icon>
      <input disabled type="text" value="Cliente">
    </div>
  </div>

</div>